<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>movies-space</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">movies-space</h1>
      </div>
      <div class="navbar">
      <div class="nav-lists">
       <a class="nav_btn" href="/users/sign_up">新規登録</a>
       <a class="nav_btn" href="/users/sign_in">ログイン</a>
       <li>ジャンル</li>
      </ul>
      </div>
    
    </header>

    <div class="contents">
      <div class="first-view">
        <!-- 『トップ画像』を表示する -->
      </div>
      <div class="upper-content">
        <!-- 『新着情報』を表示する -->
      </div>
      <div class="middle-content">
        <!-- 『スタイリスト紹介』を表示する -->
      </div>
    </div>

    <footer>
    </footer>
  </body>
</html>