<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>movies-space</title>
  </head>
  <body>
    <div class="contents">
      <div class="first-view">
        <!-- 『トップ画像』を表示する -->
      </div>
      <div class="upper-content">
        <!-- 『新着情報』を表示する -->
      </div>
    </div>
  </body>
</html>