<head>
  <meta charset="UTF-8">
  <title>movies-space</title>
</head>
<main class="main">
  <div class="card__weapper">
    <%= render partial: 'movies/prototype', collection: @movies, as: :movie %>
  </div>
</main>