<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">おすすめ映画</h2>
       <%= render partial: "form", locals: { movie: @movie } %>
    </div>
  </div>
</div>